.field__goals {
  display: flex;
  flex-direction: column;
}

.stats__points {
  font-size: 20px;
  font-weight: 500;
}

.field__percentage {
  font-weight: 500;
  font-size: 14px;
  color: #757575;
}