.header__container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__body {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 0 20px;
}

.header__location {
  text-align: right;
  font-size: 14px;
  color: #606060;
}

.location__siteName {
  font-weight: 500;
}

.location__text {
  text-transform: uppercase;
  font-weight: 500;
}

.logo {
  font-size: 40px;
  font-weight: 800;

  &:visited {
    color: initial;
  }
}

.navigate {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.link {
  position: relative;
  padding-bottom: 24px;
  color: black;
}

.active:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid black;
  width: 100%;
}

.button__login {
  max-width: 100px;
  width: 100%;
  text-align: center;
  padding: 13px 20px;
  background-color: #f1f1f1;
  transition: background-color .2s ease-in-out;

  &:visited {
    color: initial;
  }

  &:hover {
    background-color: #cccccc;

  }
}