.stats__stats_container {
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.stats__team_score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}